name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Pull Docker image
        run: sudo docker pull aditya7780/ci-cd:latest

      - name: Delete old Docker container
        run: sudo docker rm -f ci-cd || true

      - name: Run Docker container
        run: sudo docker run -d -p 8080:8080 --name ci-cd aditya7780/ci-cd:latest
